<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New reply Notification | LMS</title>
</head>
<body>
    <div>
        <div>
            <h2>New reply Notification </h2>
        </div>
       <div >
        <p>Hello <%= user.name %></p>
        <h2>A new reply has been added to your question  <%= title %></h2>
       </div>
    </div>
</body>
</html>